{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
</head>
<body>
    <form method="post" action="/login/">
        {% csrf_token %}
        <div>
            <label>账户</label>
            {{ form.manager_name }}
            <span>{{ form.manager_name.errors.0 }}</span>
        </div>
        <div>
            <label>密码</label>
            {{ form.manager_pwd }}
            <span>{{ form.manager_pwd.errors.0 }}</span>
        </div>
        <input type="submit" value="登录">
    </form>
    <a href=http://127.0.0.1:8000/login>用户登录</a>
</body>
</html>